.modal-background {
  z-index: 998;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #000;
  opacity: 0.75;
}

.modal-title {
  font-size: 24px;
  font-weight: 400;
}

.modal-logs {
  display: flex;
  flex-direction: column;
}

.modal-logs li {
  margin: 5px 0;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 100px;
  left: calc(50% - 150px);
  z-index: 999;
  background-color: #fff;
  padding: 16px;
  border-radius: 10px;
  width: 300px;
  min-height: 200px;
}

.close-modal-button {
  margin-top: 20px;
  height: 50px;
  width: 150px;
  font-size: 16px;
}
